version: '3.7'
services:
  app:
    environment:
      DB_HOST: meuIPdoBanco
      DB_USER: meuUsuarioDoBanco
      DB_PASSWORD: minhaSenhaSuperSecreta
      DB_NAME: nomeDoDatabase
      EMAIL_DISABLED: false
