.UploadFileContainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 600px;
}
  
.csv-input {
    padding: 10px;
    display: block;
    margin: 1px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .UploadFileTitle{
    margin-top: 10%;
    font-size: 20px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }

  .DropFile{
    margin-top: 40%;
    font-size: 12px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }

  
  

 