@import url('https://fonts.googleapis.com/css?family=Rajdhani:500');

* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  background: #E5EDE9;
  font-family: 'Rajdhani', sans-serif;  
  height: 100%;
  width: 100%;
}

.menu {
  background: #2A8077;
  font-size: 18px;
}

.menu ul {
  padding: 10px;
  margin: 0px auto;
  width: 700px;
  list-style:none;
  height: 50px;
}

li {
  margin: 0 5px;
}

.menu ul li { display: inline; }

.menu ul li a {
  background-color:#2A8077;
  border-bottom:3px solid transparent;
  border-top:3px solid transparent;
  padding: 2px 10px;
  float:left;
  cursor: pointer;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}

.container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* max-width: calc(100% - 20px) ; */
}

.card{
  background: white;
  box-shadow: 0 2px 10px -4px rgba(0,0,0,0.2);
  /* min-height: 475px; */
  padding: 0 5px 20px 5px;
}

.app {
  padding: 5%;
}

.menu ul li a:hover,.menu ul li a.selected {
  background-color: #1BBF77;
  border-bottom: 3px solid #2A8077;
  border-top: 3px solid #2A8077;
}

a, a:link, a:hover, a:visited {
  color: #1BBF77;
}